*__pycache__/
ZeroW/dashboardZero/
ZeroW/image_conversion/in*
ZeroW/image_conversion/out*
*.json
ZeroW/gas_station_display/sprit.db
ZeroW/gas_station_display/e5.png
*/token.json
*.key
*/main.py
*test*
